<div class="w-full flex flex-col gap-5 justify-between h-full">
    <app-header />
    <div class="flex flex-col gap-3">
      <div class="flex gap-2 items-center justify-between">
        <div class="flex items-center gap-2 ">
            <div
              class="w-[50px] h-[50px] bg-primary_navy_blue rounded-xl cursor-pointer text-background p-[8px]"
              routerLink="/admin/exams"
            >          
              <img src="assets/back.svg" class="w-[35px] h-[35px]" />
          </div>
            <h1 class="text-3xl font-bold">
              All Questions For This Exam
            </h1>
        </div>
        <app-button buttonText="Add A New Question To Exam" routerLink="/admin/exams/{{examId}}/questions/AddQuestion" />
      </div>
      
      <app-table>
        <thead class="font-bold text-background">
          <tr class="bg-accent_blue">
            <th></th>
            <th>question Text</th>
            <th>difficulty</th>
            <th>CreatedAt</th>
            <th>Subject</th>
            <th>Choices</th>
            <th></th>
          </tr>
        </thead>
        <!-- <ng-content select="[selector]" /> -->
        @for(Question of Questions; track Question.questionsLibrary.id) {
        <tr class="">
          <th>{{ Question.questionsLibrary.id }}</th>
          <td>{{ Question.questionsLibrary.questionText }}</td>
          <td>{{ Question.questionsLibrary.difficulty }}</td>
          <td>
            {{
              Question.questionsLibrary.createdAt
                | date : "EEEE d MMMM y HH:mm:ss"
            }}
          </td>
          <td>{{ examSubject?.subjectName }}</td>
          <td>
            <button
              class="btn bg-secondary_gold text-text border-0 hover:bg-accent_blue hover:border-3"
              (click)="openModalChoices(Question.questionsLibrary.choices)"
            >
              Open
            </button>
          </td>
          <td>
            
            <button
            class="btn bg-red-800 text-background border-0 hover:bg-accent_blue hover:border-3"
            (click)="deleteQuestionFromExam(Question.questionsLibrary.id)"
          >
            Delete
          </button>
          </td>
        </tr>
        }
      </app-table>
      <div class="join flex jus gap-2 self-center">
        @for(pageNumber of paginationNumbers; track pageNumber) {
          <button
            class="{{currentPage == pageNumber ? 'bg-primary_navy_blue text-background' : 'text-text'}} join-item btn bg-accent_blue  border-none hover:text-background hover:bg-primary_navy_blue active:text-background active:bg-primary_navy_blue"
            (click)="onPageClick(pageNumber)"
          >
            {{ pageNumber }}
          </button>
          }
      </div>
      <!-- Attended Students Modal -->
       <dialog #ChoicesModal class="modal text-background">
          <div class="modal-box bg-accent_blue">
            <form method="dialog">
              <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                (click)="closeModalQuestion()"
              >
                ✕
              </button>
            </form>
            <h3 class="text-lg font-bold">Choices</h3>
            <p class="py-4">
              @if(choices == null || null ) {
                <p class="text-center text-text font-bold">No Choices Added To This Question</p>
              }
              @else {
                  <div class="flex flex-col gap-2">
                      @for(choice of choices; track choice.id) {
                          <div class="flex justify-between p-2 bg-primary_navy_blue rounded-md ">
                            <p>{{choice.choiceText}}</p>
                            <p>{{choice.isCorrect ? "True" : "False"}}</p>
                          </div>
                        }
                  </div>
                
              }
            </p>
          </div>
        </dialog>
    </div>
  </div>
  