<div class="w-full flex flex-col gap-5 justify-between h-full">
  <app-header />
  <h1 class="text-3xl font-bold">All Subjects</h1>
  <div
    class="flex flex-col gap-2 w-full h-full justify-around flex-wrap flex-grow-0"
  >
    <div class="flex flex-wrap gap-10 items-center">
      @for (subject of subjects; track subject.id) {
      <div
        class="bg-primary_navy_blue w-[300px] h-full rounded-lg text-background p-2"
        routerLink="/admin/subjects/{{ subject.id }}"
      >
        <h3 class="text-xl font-bold pl-5">{{ subject.subjectName }}</h3>
        <div
          class="border-2 rounded-md h-full m-2 text-sm p-2 border-accent_blue text-justify"
        >
          {{ subject.subjectDescription }}
        </div>
      </div>
      }
    </div>

    <div class="join flex jus gap-2 self-center">
      @for(pageNumber of paginationNumbers; track pageNumber) {
        <button
          class="{{currentPage == pageNumber ? 'bg-primary_navy_blue text-background' : 'text-text'}} join-item btn bg-accent_blue  border-none hover:text-background hover:bg-primary_navy_blue active:text-background active:bg-primary_navy_blue"
          (click)="onPageClick(pageNumber)"
        >
          {{ pageNumber }}
        </button>
        }
    </div>
  </div>
</div>
